<nav>
  <a href="../<%= account_type%>/dashboard">dashboard</a><br>
  <a href="../<%= account_type%>/bedManagement">bedManagement</a><br>
  <a href="../<%= account_type%>/patientManagement">patientManagement</a><br>
  <a href="../<%= account_type%>/profileManagement">profile</a>
</nav>
