<nav>
  <a href="../doctor/dashboard">dashboard</a><br>
  <a href="../doctor/bedManagement">bedManagement</a><br>
  <a href="../doctor/patientManagement">patientManagement</a><br>
  <a href="../doctor/profileManagement">profile</a>
</nav>
