<nav>
  <a href="nurse/nurse">dashboard</a><br>
  <a href="nurse/bedManagement">bedManagement</a><br>
  <a href="nurse/patientManagement">patientManagement</a><br>
  <a href="nurse/profile">profile</a>
</nav>
