<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nurse</title>
  </head>
  <body>
    <% include partials/header.ejs %>
    <h1>Hello I'm the <%= data %> !! <button><a href='logout'>logout</a></button></h1>
    <button onclick="showModal()">add patient</button>
    <form id='modal' style="display:none;">
      <input type="text" name="name"> enter name<br>
      <input type="address" name="address"> enter address<br>
      <input type="phone" name="phone"> enter phone number<br>
      <button type="submit">save</button>
    </form>
  </body>
</html>
<script>
  function showModal() {
    document.getElementById("modal").style.display = "block";
  }
</script>
